<div>
    <div class="promocion">
        <img src="../../assets/images/whisky.png" alt="Imagen de whisky">
        <div class="promocion-texto">
            <h2>Whisky Johnnie Walker Blue</h2>
            <hr>
            <img src="../../assets/images/walker.png" alt="Imagen whisky">
            Promocion por solo USD 199
            Válido hasta 22 de diciembre
            <button class="btn btn-info">Compra ya!</button>
        </div>
    </div>
    <div class="botones">
        <button class="btn btn-info">Comprar licores</button>
        <button class="btn btn-info">Conocer mas promociones</button>
        <button class="btn btn-info">Averiguar licores</button>
    </div>
</div>