<div>
    <header style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background: rgb(38,39,41);" >
    
        <h1 class="text-white">
             Contactanos
        </h1>                  
    </header>
</div> 


<div class="container" style="padding-left: 0px;">
    <div class="row">
        <div class="col-sm-5">        
            <form id="formulariocontacto">
                <p>
                    Si tienes alguna sugerencia o consulta por favor comunícate con nosotros mediante el siguiente formulario:
                </p>
                <p>
                    <label >Nombre * </label><br>
                    <input type="text" name="nombre" placeholder="Ingrese su nombre"><br><br>
                </p>
                <p>
                    <label for="apellido">Apellido * </label><br>
                    <input type="text" name="apellido" placeholder="Ingrese su apellido"><br><br>
                </p>
                <p>
                    <label for="apellido">Correo * </label> <br>
                    <input type="text" name="correo" placeholder="Ingrese su correo"><br><br>
                </p>
                <p>
                    <label for="mensaje">Mensaje</label><br>
                    <textarea name="mensaje"></textarea><br><br>
                </p>
                
                <p>
                    <button type="submit" value="Enviar">ENVIAR</button>
                </p>
            </form>         

        </div>

        <div class="col-sm-1"></div>


        <div class="col-sm-6">
            <div class="banner">

            </div>
            
            <audio controls autoplay>
                <source src="../../../assets/images/audioPromocion.mp3" type="audio/mpeg">
                Tu navegador no es compatible con el audio de HTML5
            
            </audio>

            <div class="row">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7916194736185!2d-78.48899155098445!3d-0.20961579984630244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bbe51df5a17%3A0xdadf380206eed35d!2sEscuela%20Polit%C3%A9cnica%20Nacional!5e0!3m2!1ses-419!2sec!4v1641606413025!5m2!1ses-419!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            
        </div>

    </div>
    
</div>
   
















