<footer>
    <div class="footer-div">
        <h1>¿Dónde estamos?</h1>
        <hr>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1994.9056453339863!2d-78.47270921086731!3d-0.10755454387903941!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5913ddeedbf5f%3A0x7410a4046bd6d709!2sFMA%20Agencia%20de%20Aduanas!5e0!3m2!1ses!2sec!4v1646271201171!5m2!1ses!2sec" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" style="display: block"></iframe>
        <hr>
        10 de Agosto y Agustín Pinto
    </div>
    <div class="footer-div">
        <h1>Contacto</h1>
        <hr>
        <h2>Direccion:</h2><br>
        10 de Agosto y Agustín Pinto<br>
        <hr>
        <h2>Telefonos:</h2><br>
        0991325200
        02 - 2494230<br>
        <hr>
        <h2>Correo:</h2><br>
        jg172315@gmail.com
    </div>
</footer>